parameters:
    level: max
    paths:
        - src
    ignoreErrors:

        -
            message: '#.* generic class Shopware\\Core\\Framework\\DataAbstractionLayer\\EntityRepository.*not specify its types: TEntityCollection#'
            reportUnmatched: false
