{% block tinect_redirects_details %}
    <sw-page class="tinect-redirects-details">
        <template slot="smart-bar-actions">
            <sw-button :routerLink="{name: 'tinect.redirects.list'}">
                {{ $t('tinect-redirects.detail.cancelButton') }}
            </sw-button>

            <sw-button-process :isLoading="isLoading"
                               :processSuccess="processSuccess"
                               variant="primary"
                               @process-finish="saveFinish"
                               @click="onClickSave">
                {{ $t('tinect-redirects.detail.saveButton') }}
            </sw-button-process>
        </template>

        <template slot="content">
            <sw-card-view>
                <sw-card :isLoading="isLoading">

                    <sw-checkbox-field :label="$t('tinect-redirects.detail.activeLabel')"
                                       v-model="redirect.active"></sw-checkbox-field>

                    <sw-field :label="$t('tinect-redirects.detail.sourceUrlLabel')"
                              v-model="redirect.source"
                              validation="required"></sw-field>

                    <sw-field :label="$t('tinect-redirects.detail.targetUrlLabel')"
                              v-model="redirect.target"
                              validation="required"></sw-field>

                    <sw-select-number-field :label="$t('tinect-redirects.detail.httpCodeLabel')"
                                            v-model="redirect.httpCode"
                                            validation="required">
                        <option value=301>{{ $t('tinect-redirects.detail.httpCodeLabelValues.301') }}</option>
                        <option value=302>{{ $t('tinect-redirects.detail.httpCodeLabelValues.302') }}</option>
                    </sw-select-number-field>

                    <sw-entity-single-select :label="$tc('tinect-redirects.detail.salesChannelDomain')"
                                             :value="redirect.salesChannelDomainId"
                                             v-model="redirect.salesChannelDomainId"
                                             entity="sales_channel_domain"
                                             show-clearable-button
                                             labelProperty="url">
                    </sw-entity-single-select>
                </sw-card>
            </sw-card-view>
        </template>
    </sw-page>
{% endblock %}
