<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/trunk/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Cleanup</title>
        <title lang="de-DE">Aufräumen</title>

        <input-field type="int">
            <name>deleteRequestsAfterDays</name>
            <label>Delete requests after x days</label>
            <label lang="de-DE">Aufrufe nach x Tagen löschen</label>
            <helpText>This is also be used to calculate the count in listing</helpText>
            <helpText lang="de-DE">Dies wird auch zur Berechnung der Anzahl im Listing verwendet</helpText>
            <defaultValue>30</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>saveIpAddresses</name>
            <label>Save IP addresses</label>
            <label lang="de-DE">IP-Adressen speichern</label>
            <helpText>Save IP addresses of requests</helpText>
            <helpText lang="de-DE">IP-Adressen von Aufrufen speichern</helpText>
            <defaultValue>true</defaultValue>
        </input-field>
    </card>

    <card>
        <title>New entries</title>
        <title lang="de-DE">Neue Einträge</title>
        <input-field type="bool">
            <name>createNewRedirects</name>
            <label>Create new entries when URI is unknown</label>
            <label lang="de-DE">Neue Einträge erstellen, wenn URI unbekannt ist</label>
            <defaultValue>true</defaultValue>
            <helpText>If enabled, new entries will be created when the URI is unknown. These entries are inactive and can be configured if needed. Dedicated paths can also be excluded below instead of deactivating this option completely.</helpText>
            <helpText lang="de-DE">Wenn aktiviert, werden neue Einträge erstellt, wenn die URI unbekannt ist. Diese Einträge sind inaktiv, und können bei Bedarf konfiguriert werden. Weiter unten können auch dedizierte Pfade ausgeschlossen werden, anstatt diese Option komplett zu deaktivieren.</helpText>
        </input-field>

        <input-field type="textarea">
            <name>excludes</name>
            <label>List of regex rules excluded from tracking</label>
            <label lang="de-DE">Liste von Regex-Regeln, die ignoriert werden</label>
            <defaultValue><![CDATA[#/\.#
#(.?)'(.*)'#i
#.(gz|zip|rar|py|php|ashx)$#i
#/wp-includes#i
#.js.map$#i
#/wp-config#i
]]></defaultValue>
            <helpText>Every line is managed an own regex rule. You can check them e.g. at regex101.com. Whenever you add a new line, you might want to use the command tinect-redirects:excludes-cleanup to clean up existing entries.</helpText>
            <helpText lang="de-DE">Jede Zeile wird mit einer eigenen Regex-Regel verwaltet. Sie können diese z.B. bei regex101.com nachlesen. Wenn Sie eine neue Zeile hinzufügen, möchten Sie möglicherweise den Befehl tinect-redirects:excludes-cleanup verwenden, um vorhandene Einträge zu bereinigen.</helpText>
        </input-field>
    </card>
</config>
